//=======================================================================================================
// @font-face
// Usage: webfont('Crimson-Text-Roman', 'crimson-text', 'crimsontext-roman-webfont', true, normal, normal)
//=======================================================================================================

// Light
webfont('IBMPlexSans-Regular', 'Ibm-Plex-Sans', 'IBMPlexSans-Regular',  normal, normal)
webfont('Inter-Regular', 'Inter', 'Inter-Regular',  normal, normal)
webfont('Inter-SemiBold', 'Inter', 'Inter-SemiBold',  normal, normal)
webfont('Inter-Medium', 'Inter', 'Inter-Medium',  normal, normal)


