{% include '../parts/head.html' %}
<body>
	
	<!-- CONTENT WRAPPER -->
	<div class="content__wrapper">

		<!-- Header -->
		{% include '../parts/sections/header.html' %}
		<!-- //Header -->

		<!-- Main -->
		<main class="main">


			<div class="page-search">


				<section class="sect__404">
					<div class="container">
						<div class="block-404 text-center">
							<h1 class="block-404__title">404</h1>
							<p class="block-404__text">Мы сожалеем, но страница, которую Вы ищете, недоступна.<br>Возможно, вам стоит поискать еще раз или вернуться на главную.</p>


							<a href="index.html" class="btn btn-default">Вернуться на главную</a>
						</div>
						

						
					</div>
					<!-- //container -->
				</section>

			</div>

		</main>
		<!-- //Main -->

		<!-- Footer -->
		{% include '../parts/sections/footer.html' %}
		<!-- //Footer -->

	</div>
	<!-- //CONTENT WRAPPER -->

	{% include '../parts/scripts.html' %}

</body>

</html>