{% include '../parts/head.html' %}
<body>
	
	<!-- CONTENT WRAPPER -->
	<div class="content__wrapper">

		<!-- Header -->
		{% include '../parts/sections/header.html' %}
		<!-- //Header -->

		<!-- Main -->
		<main class="main">
			<section class="sect__promo gutter-bottom">
				<div class="container">
					<div class="promo-block">
						<div class="row align-vertical-start align-horisontal-between promo-block__row">
							<h1 class="title title-h1-size">Интернет-журнал о <i>мире</i> <span>полезной информации</span></h1>

							<!-- Share -->
							{% include '../parts/components/share.html' %}
							<!-- //Share -->

						</div>

					</div>

					<div class="main-articles">
						<div class="row row-gutters-lg align-horisontal-start main-articles__row">
							<div class="main-article__wrapper col-w-50 col-gutters-lg">
								<article class="main-article">
									<a href="page-article.html" class="article-card__thumbnail thumbnail">
										<img src="img/thumbnail.png" alt="">
									</a>

									<h2 class="title title-h2-size title-h2-size-sm">
										<a href="page-article.html">Как оформить загранпаспорт нового и старого образца через сайт Госуслуг</a>
									</h2>

									<div class="article-categories" aria-label="Категории записи">
										<ul>
											<li><a href="page-category.html">Здоровье и спорт</a></li>
											<li><a href="page-category.html">Биатлон</a></li>
											<li><a href="page-category.html">Соревнования</a></li>
										</ul>
									</div>
								</article>
							</div>
							<!-- //article -->

							<div class="main-article__wrapper col-w-50 col-gutters-lg">
								<article class="main-article">
									<a href="page-article.html" class="article-card__thumbnail thumbnail">
										<img src="img/thumbnail.png" alt="">
									</a>

									<h2 class="title title-h2-size title-h2-size-sm">
										<a href="page-article.html">Как сделать маникюр или починить сломавшийся ноготь гель-лаком</a>
									</h2>

									<div class="article-categories" aria-label="Категории записи">
										<ul>
											<li><a href="page-category.html">Здоровье и спорт</a></li>
											<li><a href="page-category.html">Биатлон</a></li>
											<li><a href="page-category.html">Соревнования</a></li>
										</ul>
									</div>
								</article>
							</div>
							<!-- //article -->
						</div>
					</div>


					<div class="articles-cards articles-slider">
						<!-- Slider -->
						<div class="swiper-container js-mobile-articles-slider">
							<div class="swiper-wrapper">
								<div class="swiper-slide col-gutters-sm col-w-25">
									<div class="article-card__wrapper">
										<article class="article-card">
											<a href="page-article.html" class="article-card__thumbnail thumbnail">
												<img src="img/thumbnail.png" alt="">
											</a>
											<h2 class="title title-h3-size">
												<a href="page-article.html">Куда поехать на Новый год 2021 за границу</a>
											</h2>
											<div class="article-card__preview">
												<p>Перед походом в лес за ягодами и грибами, вы наверняка задумаетесь — а как не заблудиться?</p>
											</div>
											<div class="article-categories" aria-label="Категории записи">
												<ul>
													<li><a href="page-category.html">Здоровье и спорт</a></li>
													<li><a href="page-category.html">Биатлон</a></li>
												</ul>
											</div>
											
										</article>
									</div>
								</div>
								<!-- //slide -->

								<div class="swiper-slide col-gutters-sm col-w-25">
									<div class="article-card__wrapper">
										<article class="article-card">
											<a href="page-article.html" class="article-card__thumbnail thumbnail">
												<img src="img/thumbnail.png" alt="">
											</a>
											<h2 class="title title-h3-size">
												<a href="page-article.html">Куда поехать на Новый год 2021 за границу</a>
											</h2>
											<div class="article-card__preview">
												<p>Перед походом в лес за ягодами и грибами, вы наверняка задумаетесь — а как не заблудиться?</p>
											</div>
											<div class="article-categories" aria-label="Категории записи">
												<ul>
													<li><a href="page-category.html">Здоровье и спорт</a></li>
													<li><a href="page-category.html">Биатлон</a></li>
												</ul>
											</div>
											
										</article>
									</div>
								</div>
								<!-- //slide -->

								<div class="swiper-slide col-gutters-sm col-w-25">
									<div class="article-card__wrapper">
										<article class="article-card">
											<a href="page-article.html" class="article-card__thumbnail thumbnail">
												<img src="img/thumbnail.png" alt="">
											</a>
											<h2 class="title title-h3-size">
												<a href="page-article.html">Куда поехать на Новый год 2021 за границу</a>
											</h2>
											<div class="article-card__preview">
												<p>Перед походом в лес за ягодами и грибами, вы наверняка задумаетесь — а как не заблудиться?</p>
											</div>
											<div class="article-categories" aria-label="Категории записи">
												<ul>
													<li><a href="page-category.html">Здоровье и спорт</a></li>
													<li><a href="page-category.html">Биатлон</a></li>
												</ul>
											</div>
											
										</article>
									</div>
								</div>
								<!-- //slide -->

								<div class="swiper-slide col-gutters-sm col-w-25">
									<div class="article-card__wrapper">
										<article class="article-card">
											<a href="page-article.html" class="article-card__thumbnail thumbnail">
												<img src="img/thumbnail.png" alt="">
											</a>
											<h2 class="title title-h3-size">
												<a href="page-article.html">Куда поехать на Новый год 2021 за границу</a>
											</h2>
											<div class="article-card__preview">
												<p>Перед походом в лес за ягодами и грибами, вы наверняка задумаетесь — а как не заблудиться?</p>
											</div>
											<div class="article-categories" aria-label="Категории записи">
												<ul>
													<li><a href="page-category.html">Здоровье и спорт</a></li>
													<li><a href="page-category.html">Биатлон</a></li>
												</ul>
											</div>
											
										</article>
									</div>
								</div>
								<!-- //slide -->


							</div>
						</div>
						<!-- //Slider -->

						<!-- Slider notice -->
						<div class="slider-notice">
							<p>Проведите в сторону, чтобы посмотреть другие статьи</p>
						</div>
						<!-- //Slider notice -->
					</div>
				</div>
				<!-- //container -->
			</section>

			<section class="sect__subscribe gutter-bottom">
				<div class="container">
					<div class="subscribe basic-white-color">
						<div class="row align-horisontal-between align-vertical-center subscribe__row">
							<div class="subscribe__text">
								<h2 class="subscribe__title">Подпишитесь</h2>
								<p>И будьте одним из первых в курсе всех интересных статей</p>
							</div>

							<div class="subscribe__form">
								<form>
									<!-- Hidden inputs -->
									<input type="hidden" name="project_name" value="Вокруг Нас">
									<input type="hidden" name="form_subject" value="">
									<!-- // Hidden inputs -->
									<div class="form-group form-group__email">
										<span class="error-tooltip">Поле обязательно для заполнения</span>
										<input type="email" placeholder="Введите ваш E-mail" name="email" class="form-input js-required-input">
										<button class="btn btn-submit" type="submit"><span>Подписаться</span></button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
				<!-- //container -->
			</section>

			<section class="sect__categories gutter-bottom">
				<h2 class="w3c">Основные категории</h2>
				<div class="container">
					<div class="main-categories">

						<div class="row align-horisontal-start align-vertical-start main-categories__row">
							<div class="col-w-33  main-category__wrapper">
								<div class="main-category">
									<h2 class="title title-h2-size main-category__title">
										<a href="page-category.html">Путешествия</a>
									</h2>

									<div class="main-category__articles">
										<article class="main-category__article">
											<div class="article-categories" aria-label="Категории записи">
												<ul>
													<li><a href="page-category.html">Здоровье и спорт</a></li>
													<li><a href="page-category.html">Биатлон</a></li>
													<li><a href="page-category.html">Соревнования</a></li>
												</ul>
											</div>
											<h3 class="title title-h3-size-sm">
												<a href="page-article.html">Как быстро выучить английский язык самостоятельно</a>
											</h3>
										</article>

										<article class="main-category__article">
											<div class="article-categories" aria-label="Категории записи">
												<ul>
													<li><a href="page-category.html">Здоровье и спорт</a></li>
													<li><a href="page-category.html">Биатлон</a></li>
													<li><a href="page-category.html">Соревнования</a></li>
												</ul>
											</div>
											<h3 class="title title-h3-size-sm">
												<a href="page-article.html">Как быстро выучить английский язык самостоятельно</a>
											</h3>
										</article>

										<article class="main-category__article">
											<div class="article-categories" aria-label="Категории записи">
												<ul>
													<li><a href="page-category.html">Здоровье и спорт</a></li>
													<li><a href="page-category.html">Биатлон</a></li>
													<li><a href="page-category.html">Соревнования</a></li>
												</ul>
											</div>
											<h3 class="title title-h3-size-sm">
												<a href="page-article.html">Как быстро выучить английский язык самостоятельно</a>
											</h3>
										</article>
									</div>
								</div>
							</div>
							<!-- //category col -->

							<div class="col-w-33  main-category__wrapper">
								<div class="main-category">
									<h2 class="title title-h2-size main-category__title">
										<a href="page-category.html">Финансы</a>
									</h2>

									<div class="main-category__articles">
										<article class="main-category__article">
											<div class="article-categories" aria-label="Категории записи">
												<ul>
													<li><a href="page-category.html">Здоровье и спорт</a></li>
													<li><a href="page-category.html">Биатлон</a></li>
													<li><a href="page-category.html">Соревнования</a></li>
												</ul>
											</div>
											<h3 class="title title-h3-size-sm">
												<a href="page-article.html">Как быстро выучить английский язык самостоятельно</a>
											</h3>
										</article>

										<article class="main-category__article">
											<div class="article-categories" aria-label="Категории записи">
												<ul>
													<li><a href="page-category.html">Здоровье и спорт</a></li>
													<li><a href="page-category.html">Биатлон</a></li>
													<li><a href="page-category.html">Соревнования</a></li>
												</ul>
											</div>
											<h3 class="title title-h3-size-sm">
												<a href="page-article.html">Как быстро выучить английский язык самостоятельно</a>
											</h3>
										</article>

										<article class="main-category__article">
											<div class="article-categories" aria-label="Категории записи">
												<ul>
													<li><a href="page-category.html">Здоровье и спорт</a></li>
													<li><a href="page-category.html">Биатлон</a></li>
													<li><a href="page-category.html">Соревнования</a></li>
												</ul>
											</div>
											<h3 class="title title-h3-size-sm">
												<a href="page-article.html">Как быстро выучить английский язык самостоятельно</a>
											</h3>
										</article>
									</div>
								</div>
							</div>
							<!-- //category col -->

							<div class="col-w-33  main-category__wrapper">
								<div class="main-category">
									<h2 class="title title-h2-size main-category__title">
										<a href="page-category.html">Вопрос и ответ</a>
									</h2>

									<div class="main-category__articles">
										<article class="main-category__article">
											<div class="article-categories" aria-label="Категории записи">
												<ul>
													<li><a href="page-category.html">Здоровье и спорт</a></li>
													<li><a href="page-category.html">Биатлон</a></li>
													<li><a href="page-category.html">Соревнования</a></li>
												</ul>
											</div>
											<h3 class="title title-h3-size-sm">
												<a href="page-article.html">Как быстро выучить английский язык самостоятельно</a>
											</h3>
										</article>

										<article class="main-category__article">
											<div class="article-categories" aria-label="Категории записи">
												<ul>
													<li><a href="page-category.html">Здоровье и спорт</a></li>
													<li><a href="page-category.html">Биатлон</a></li>
													<li><a href="page-category.html">Соревнования</a></li>
												</ul>
											</div>
											<h3 class="title title-h3-size-sm">
												<a href="page-article.html">Как быстро выучить английский язык самостоятельно</a>
											</h3>
										</article>

										<article class="main-category__article">
											<div class="article-categories" aria-label="Категории записи">
												<ul>
													<li><a href="page-category.html">Здоровье и спорт</a></li>
													<li><a href="page-category.html">Биатлон</a></li>
													<li><a href="page-category.html">Соревнования</a></li>
												</ul>
											</div>
											<h3 class="title title-h3-size-sm">
												<a href="page-article.html">Как быстро выучить английский язык самостоятельно</a>
											</h3>
										</article>
									</div>
								</div>
							</div>
							<!-- //category col -->
						</div>
					</div>
				</div>
				<!-- //container -->
			</section>


			<section class="sect__category color-bg gutters">
				<div class="container">
					<div class="row category__row row-nowrap">
						<div class="category-text">
							<h2 class="title title-h2-size">
								<a href="page-category.html">Здоровье и спорт</a>
							</h2>
							<div class="category-text__description">
								<p>Перед тем как идти в лес, нужно изучить основные правила ориентирования в лесу. Если вы потеряетесь и будете их использовать, они способны вас выручить</p>
							</div>
							<a href="page-category.html" class="permalink">
								<span>Подробнее</span>
							</a>
							
						</div>
						<div class="category-articles">
							<!-- Slider -->
							{% include '../parts/components/articles-cards-slider.html' %}
							<!-- //Slider -->

							
						</div>
					</div>
				</div>
				<!-- //container -->
			</section>

			<section class="sect__category gutters">
				<div class="container">
					<div class="row category__row row-nowrap">
						<div class="category-text">
							<h2 class="title title-h2-size">
								<a href="page-category.html">Путешествия</a>
							</h2>
							<div class="category-text__description">
								<p>Перед тем как идти в лес, нужно изучить основные правила ориентирования в лесу. Если вы потеряетесь и будете их использовать, они способны вас выручить</p>
							</div>
							<a href="page-category.html" class="permalink">
								<span>Подробнее</span>
							</a>
							
						</div>
						<div class="category-articles">
							<!-- Slider -->
							{% include '../parts/components/articles-cards-slider.html' %}
							<!-- //Slider -->

							
						</div>
					</div>
				</div>
				<!-- //container -->
			</section>

			<section class="sect__category color-bg gutters">
				<div class="container">
					<div class="row category__row row-nowrap">
						<div class="category-text">
							<h2 class="title title-h2-size">
								<a href="page-category.html">Наука</a>
							</h2>
							<div class="category-text__description">
								<p>Перед тем как идти в лес, нужно изучить основные правила ориентирования в лесу. Если вы потеряетесь и будете их использовать, они способны вас выручить</p>
							</div>
							<a href="page-category.html" class="permalink">
								<span>Подробнее</span>
							</a>
							
						</div>
						<div class="category-articles">
							<!-- Slider -->
							{% include '../parts/components/articles-cards-slider.html' %}
							

							
						</div>
					</div>
				</div>
				<!-- //container -->
			</section>
		</main>
		<!-- //Main -->

		<!-- Footer -->
		{% include '../parts/sections/footer.html' %}
		<!-- //Footer -->

	</div>
	<!-- //CONTENT WRAPPER -->

	{% include '../parts/scripts.html' %}

</body>

</html>