{% include '../parts/head.html' %}
<body>
	
	<!-- CONTENT WRAPPER -->
	<div class="content__wrapper">

		<!-- Header -->
		{% include '../parts/sections/header.html' %}
		<!-- //Header -->

		<!-- Main -->
		<main class="main">


			<div class="page-article">

				<!-- Breadcrumbs -->

				<div class="breadcrumbs">
					<nav  class="container" aria-label="Хлебные крошки" itemprop="breadcrumb">
						<ul class="breadcrumbs__list" itemscope="" itemtype="http://schema.org/BreadcrumbList">
							<meta content="1" itemprop="position">
							<li class="" itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
								<a href="index.html" rel="home" aria-label="Главная" itemtype="https://schema.org/Thing" itemprop="item">
									<span itemprop="name">
										<span class="breadcrumb-home">Главная</span>
									</span>
								</a>
							</li>
							<li class="" itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
								<meta content="2" itemprop="position">
								<a href="page-category.html" itemtype="https://schema.org/Thing" itemprop="item">
									<span itemprop="name">Дом и быт</span>
								</a>
								
							</li>
							
						</ul>
					</nav>
				</div>

				<!-- //Breadcrumbs -->



				<section class="page-category gutter-bottom">
					<div class="container">
						
						<div class="category-entering">

							<div class="category-entering__row row align-horisontal-between row-nowrap align-vertical-center">
								<div class="category-entering__title">
									<a href="#" class="back-link">
										<svg  viewBox="0 0 15 27"  xmlns="http://www.w3.org/2000/svg">
											<path d="M14.4129 26.1083C14.8973 25.6334 14.9413 24.8904 14.545 24.3668L14.4129 24.2168L3.4807 13.5L14.4129 2.78317C14.8973 2.30834 14.9413 1.56532 14.545 1.04174L14.4129 0.89173C13.9286 0.416906 13.1706 0.37374 12.6366 0.762232L12.4835 0.89173L0.587086 12.5543C0.102739 13.0291 0.0587073 13.7721 0.454991 14.2957L0.587086 14.4457L12.4835 26.1083C13.0163 26.6306 13.8801 26.6306 14.4129 26.1083Z"/>
										</svg>
									</a>
									<h1 class="title title-h2-size">Финансы</h1>
								</div>

								<div class="slider-navigation">
									<button class="slider-navigation__btn js-subcategories-slider-btn-prev" type="button">
										<svg  viewBox="0 0 8 14" xmlns="http://www.w3.org/2000/svg">
											<path d="M7.54508 13.4658C7.79347 13.2223 7.81605 12.8413 7.61282 12.5728L7.54508 12.4958L1.93882 7.00003L7.54508 1.50421C7.79347 1.26071 7.81605 0.879678 7.61282 0.611172L7.54508 0.534246C7.2967 0.290746 6.90802 0.26861 6.63413 0.467837L6.55566 0.534246L0.454916 6.51504C0.206533 6.75854 0.183953 7.13958 0.387175 7.40808L0.454916 7.48501L6.55566 13.4658C6.82888 13.7337 7.27186 13.7337 7.54508 13.4658Z"/>
										</svg>
									</button>

									<button class="slider-navigation__btn js-subcategories-slider-btn-next" type="button">
										<svg  viewBox="0 0 8 14" xmlns="http://www.w3.org/2000/svg">
											<path d="M0.454916 13.4658C0.206533 13.2223 0.183953 12.8413 0.387175 12.5728L0.454916 12.4958L6.06118 7.00003L0.454916 1.50421C0.206533 1.26071 0.183953 0.879678 0.387175 0.611172L0.454916 0.534246C0.703299 0.290746 1.09198 0.26861 1.36587 0.467837L1.44434 0.534246L7.54508 6.51504C7.79347 6.75854 7.81605 7.13958 7.61282 7.40808L7.54508 7.48501L1.44434 13.4658C1.17112 13.7337 0.728137 13.7337 0.454916 13.4658Z" />
										</svg>
									</button>
								</div>
							</div>
							
							<div class="subcategories-slider">
								<div class="swiper-container js-subcategories-slider">
									<div class="swiper-wrapper">
										<!-- subcategory slide -->
										<div class="swiper-slide">
											<a href="page-subcategory.html" class="subcategory">
												<span class="subcategory__ic">
													<svg  viewBox="0 0 67 61"  xmlns="http://www.w3.org/2000/svg">
														<path d="M65.1297 38.9858H51.6353C46.6805 38.9827 42.6644 34.9697 42.6614 30.0149C42.6614 25.06 46.6805 21.047 51.6353 21.0439H65.1297"/>
														<path d="M53.162 29.8095H52.123" />
														<path d="M18.8255 1H47.6369C57.2974 1 65.1291 8.8317 65.1291 18.4922V42.4157C65.1291 52.0762 57.2974 59.9079 47.6369 59.9079H18.8255C9.16495 59.9079 1.33325 52.0762 1.33325 42.4157V18.4922C1.33325 8.8317 9.16495 1 18.8255 1Z" />
														<path d="M16.4519 16.1273H34.4484"/>
													</svg>
												</span>
												<span class="subcategory__info">
													<span class="subcategory__info--title">Криптовалюта</span>
													<span class="subcategory__info--text">Перед походом в лес за ягодами и грибами</span>
												</span>
											</a>
										</div>
										<!-- //subcategory slide -->

										<!-- subcategory slide -->
										<div class="swiper-slide">
											<a href="page-subcategory.html" class="subcategory">
												<span class="subcategory__ic">
													<svg  viewBox="0 0 67 61"  xmlns="http://www.w3.org/2000/svg">
														<path d="M65.1297 38.9858H51.6353C46.6805 38.9827 42.6644 34.9697 42.6614 30.0149C42.6614 25.06 46.6805 21.047 51.6353 21.0439H65.1297"/>
														<path d="M53.162 29.8095H52.123" />
														<path d="M18.8255 1H47.6369C57.2974 1 65.1291 8.8317 65.1291 18.4922V42.4157C65.1291 52.0762 57.2974 59.9079 47.6369 59.9079H18.8255C9.16495 59.9079 1.33325 52.0762 1.33325 42.4157V18.4922C1.33325 8.8317 9.16495 1 18.8255 1Z" />
														<path d="M16.4519 16.1273H34.4484"/>
													</svg>
												</span>
												<span class="subcategory__info">
													<span class="subcategory__info--title">Криптовалюта</span>
													<span class="subcategory__info--text">Перед походом в лес за ягодами и грибами</span>
												</span>
											</a>
										</div>
										<!-- //subcategory slide -->

										<!-- subcategory slide -->
										<div class="swiper-slide">
											<a href="page-subcategory.html" class="subcategory">
												<span class="subcategory__ic">
													<svg  viewBox="0 0 67 61"  xmlns="http://www.w3.org/2000/svg">
														<path d="M65.1297 38.9858H51.6353C46.6805 38.9827 42.6644 34.9697 42.6614 30.0149C42.6614 25.06 46.6805 21.047 51.6353 21.0439H65.1297"/>
														<path d="M53.162 29.8095H52.123" />
														<path d="M18.8255 1H47.6369C57.2974 1 65.1291 8.8317 65.1291 18.4922V42.4157C65.1291 52.0762 57.2974 59.9079 47.6369 59.9079H18.8255C9.16495 59.9079 1.33325 52.0762 1.33325 42.4157V18.4922C1.33325 8.8317 9.16495 1 18.8255 1Z" />
														<path d="M16.4519 16.1273H34.4484"/>
													</svg>
												</span>
												<span class="subcategory__info">
													<span class="subcategory__info--title">Криптовалюта</span>
													<span class="subcategory__info--text">Перед походом в лес за ягодами и грибами</span>
												</span>
											</a>
										</div>
										<!-- //subcategory slide -->

										<!-- subcategory slide -->
										<div class="swiper-slide">
											<a href="page-subcategory.html" class="subcategory">
												<span class="subcategory__ic">
													<svg  viewBox="0 0 67 61"  xmlns="http://www.w3.org/2000/svg">
														<path d="M65.1297 38.9858H51.6353C46.6805 38.9827 42.6644 34.9697 42.6614 30.0149C42.6614 25.06 46.6805 21.047 51.6353 21.0439H65.1297"/>
														<path d="M53.162 29.8095H52.123" />
														<path d="M18.8255 1H47.6369C57.2974 1 65.1291 8.8317 65.1291 18.4922V42.4157C65.1291 52.0762 57.2974 59.9079 47.6369 59.9079H18.8255C9.16495 59.9079 1.33325 52.0762 1.33325 42.4157V18.4922C1.33325 8.8317 9.16495 1 18.8255 1Z" />
														<path d="M16.4519 16.1273H34.4484"/>
													</svg>
												</span>
												<span class="subcategory__info">
													<span class="subcategory__info--title">Криптовалюта</span>
													<span class="subcategory__info--text">Перед походом в лес за ягодами и грибами</span>
												</span>
											</a>
										</div>
										<!-- //subcategory slide -->

										<!-- subcategory slide -->
										<div class="swiper-slide">
											<a href="page-subcategory.html" class="subcategory">
												<span class="subcategory__ic">
													<svg  viewBox="0 0 67 61"  xmlns="http://www.w3.org/2000/svg">
														<path d="M65.1297 38.9858H51.6353C46.6805 38.9827 42.6644 34.9697 42.6614 30.0149C42.6614 25.06 46.6805 21.047 51.6353 21.0439H65.1297"/>
														<path d="M53.162 29.8095H52.123" />
														<path d="M18.8255 1H47.6369C57.2974 1 65.1291 8.8317 65.1291 18.4922V42.4157C65.1291 52.0762 57.2974 59.9079 47.6369 59.9079H18.8255C9.16495 59.9079 1.33325 52.0762 1.33325 42.4157V18.4922C1.33325 8.8317 9.16495 1 18.8255 1Z" />
														<path d="M16.4519 16.1273H34.4484"/>
													</svg>
												</span>
												<span class="subcategory__info">
													<span class="subcategory__info--title">Криптовалюта</span>
													<span class="subcategory__info--text">Перед походом в лес за ягодами и грибами</span>
												</span>
											</a>
										</div>
										<!-- //subcategory slide -->
									</div>
								</div>

								<div class="slider-scrollbar js-subcategories-slider-scrollbar"></div>
							</div>

							
						</div>


						<div class="category-articles category-articles__full">
							<h2 class="title title-h2-size">Интересные статьи</h2>

							<div class="articles-cards__row row row-gutters align-horisontal-start">
								<!-- Article card -->
								<div class="article-card__wrapper col-gutters">
									{% include '../parts/components/article-card.html' %}
								</div>
								<!-- //Article card -->

								<!-- Article card -->
								<div class="article-card__wrapper col-gutters">
									{% include '../parts/components/article-card.html' %}
								</div>
								<!-- //Article card -->

								<!-- Article card -->
								<div class="article-card__wrapper col-gutters">
									{% include '../parts/components/article-card.html' %}
								</div>
								<!-- //Article card -->

								<!-- Article card -->
								<div class="article-card__wrapper col-gutters">
									{% include '../parts/components/article-card.html' %}
								</div>
								<!-- //Article card -->

								<!-- Article card -->
								<div class="article-card__wrapper col-gutters">
									{% include '../parts/components/article-card.html' %}
								</div>
								<!-- //Article card -->

								<!-- Article card -->
								<div class="article-card__wrapper col-gutters">
									{% include '../parts/components/article-card.html' %}
								</div>
								<!-- //Article card -->

								<!-- Article card -->
								<div class="article-card__wrapper col-gutters">
									{% include '../parts/components/article-card.html' %}
								</div>
								<!-- //Article card -->

								<!-- Article card -->
								<div class="article-card__wrapper col-gutters">
									{% include '../parts/components/article-card.html' %}
								</div>
								<!-- //Article card -->

								<!-- Article card -->
								<div class="article-card__wrapper col-gutters">
									{% include '../parts/components/article-card.html' %}
								</div>
								<!-- //Article card -->

								<!-- Article card -->
								<div class="article-card__wrapper col-gutters">
									{% include '../parts/components/article-card.html' %}
								</div>
								<!-- //Article card -->

								<!-- Article card -->
								<div class="article-card__wrapper col-gutters">
									{% include '../parts/components/article-card.html' %}
								</div>
								<!-- //Article card -->

								<!-- Article card -->
								<div class="article-card__wrapper col-gutters">
									{% include '../parts/components/article-card.html' %}
								</div>
								<!-- //Article card -->

								<!-- Article card -->
								<div class="article-card__wrapper col-gutters">
									{% include '../parts/components/article-card.html' %}
								</div>
								<!-- //Article card -->

								<!-- Article card -->
								<div class="article-card__wrapper col-gutters">
									{% include '../parts/components/article-card.html' %}
								</div>
								<!-- //Article card -->

								<!-- Article card -->
								<div class="article-card__wrapper col-gutters">
									{% include '../parts/components/article-card.html' %}
								</div>
								<!-- //Article card -->

								<!-- Article card -->
								<div class="article-card__wrapper col-gutters">
									{% include '../parts/components/article-card.html' %}
								</div>
								<!-- //Article card -->

								<!-- Article card -->
								<div class="article-card__wrapper col-gutters">
									{% include '../parts/components/article-card.html' %}
								</div>
								<!-- //Article card -->

								<!-- Article card -->
								<div class="article-card__wrapper col-gutters">
									{% include '../parts/components/article-card.html' %}
								</div>
								<!-- //Article card -->

								<!-- Article card -->
								<div class="article-card__wrapper col-gutters">
									{% include '../parts/components/article-card.html' %}
								</div>
								<!-- //Article card -->

								<!-- Article card -->
								<div class="article-card__wrapper col-gutters">
									{% include '../parts/components/article-card.html' %}
								</div>
								<!-- //Article card -->

								<!-- Article card -->
								<div class="article-card__wrapper col-gutters">
									{% include '../parts/components/article-card.html' %}
								</div>
								<!-- //Article card -->

								<!-- Article card -->
								<div class="article-card__wrapper col-gutters">
									{% include '../parts/components/article-card.html' %}
								</div>
								<!-- //Article card -->
							</div>
						</div>

						<div class="pagination-wrapper">
							<nav class="pagination">
								<ul class="pagination-list">
									<!-- Prev -->
									<li class="pagination-list__item">
										<a href="#" class="pagination-list__link--arrow pagination-list__link--arrow_prev">
											<svg  viewBox="0 0 6 12" xmlns="http://www.w3.org/2000/svg">
												<path d="M5.83607 11.1726C6.03477 10.9778 6.05284 10.673 5.89026 10.4582L5.83607 10.3967L1.35106 6.00002L5.83607 1.60337C6.03477 1.40857 6.05284 1.10374 5.89026 0.888937L5.83607 0.827397C5.63736 0.632597 5.32642 0.614888 5.1073 0.774269L5.04453 0.827397L0.163933 5.61203C-0.0347738 5.80683 -0.0528382 6.11166 0.10974 6.32647L0.163933 6.38801L5.04453 11.1726C5.26311 11.3869 5.61749 11.3869 5.83607 11.1726Z">
												</svg>
												<span>Назад</span>
											</a>
										</li>
										<!-- //Prev -->

										<li class="pagination-list__item">
											<a href="#" class="pagination-list__link is-active">1</a>
										</li>
										<li class="pagination-list__item">
											<a href="#" class="pagination-list__link">2</a>
										</li>
										<li class="pagination-list__item">
											<a href="#" class="pagination-list__link">3</a>
										</li>
										<li class="pagination-list__item">
											<a href="#" class="pagination-list__link">4</a>
										</li>

										<li class="pagination-list__item">
											<span class="pagination-list__link">...</span>
										</li>

										<li class="pagination-list__item">
											<a href="#" class="pagination-list__link">10</a>
										</li>

										<!-- Next -->
										<li class="pagination-list__item">
											<a href="#" class="pagination-list__link--arrow pagination-list__link--arrow_next">
												<span>Вперед</span>
												<svg  viewBox="0 0 6 12"  xmlns="http://www.w3.org/2000/svg">
													<path d="M0.163933 11.1726C-0.0347736 10.9778 -0.0528378 10.673 0.10974 10.4582L0.163933 10.3967L4.64894 6.00002L0.163933 1.60337C-0.0347736 1.40857 -0.0528378 1.10374 0.10974 0.888937L0.163933 0.827397C0.362639 0.632597 0.673582 0.614888 0.892695 0.774269L0.95547 0.827397L5.83607 5.61203C6.03477 5.80683 6.05284 6.11166 5.89026 6.32647L5.83607 6.38801L0.95547 11.1726C0.736893 11.3869 0.38251 11.3869 0.163933 11.1726Z"/>
												</svg>

												
											</a>
										</li>
										<!-- //Next -->
									</ul>
								</nav>

								<button class="btn-load-more" type="button">
									<span>Загрузить еще</span>
									<svg viewBox="0 0 16 14"  xmlns="http://www.w3.org/2000/svg">
										<path d="M3.61636 4.47661L2.71013 5.38284C3.60227 2.45956 6.69528 0.813021 9.61853 1.70515C10.7326 2.04515 11.711 2.728 12.4143 3.65644L13.2164 3.04877C11.0381 0.169031 6.93773 -0.39966 4.05796 1.77863C2.86435 2.68146 2.01665 3.96648 1.65639 5.41909L0.711894 4.47661L0 5.188L2.16488 7.35289L4.32977 5.188L3.61636 4.47661Z" />
										<path d="M13.8351 6.63696L11.6703 8.80185L12.3821 9.51374L13.299 8.59744C12.4147 11.5254 9.32423 13.1821 6.39626 12.2979C5.23166 11.9461 4.2153 11.2207 3.50413 10.2337L2.68701 10.8217C3.69686 12.2336 5.22908 13.1832 6.94276 13.4594C7.29399 13.5164 7.64924 13.5452 8.00506 13.5455C11.0107 13.544 13.6271 11.4912 14.3436 8.57227L15.2861 9.51374L16 8.80185L13.8351 6.63696ZM13.81 8.08744L13.8356 8.06176L13.8729 8.09952L13.81 8.08744Z"/>
									</svg>
								</button>
							</div>


						</div>
						<!-- //container -->
					</section>


				</div>

			</main>
			<!-- //Main -->

			<!-- Footer -->
			{% include '../parts/sections/footer.html' %}
			<!-- //Footer -->

		</div>
		<!-- //CONTENT WRAPPER -->

		{% include '../parts/scripts.html' %}

	</body>

	</html>