{% include '../parts/head.html' %}
<body>
	
	<!-- CONTENT WRAPPER -->
	<div class="content__wrapper">

		<!-- Header -->
		{% include '../parts/sections/header.html' %}
		<!-- //Header -->

		<!-- Main -->
		<main class="main">


			<div class="page-article">

				<!-- Breadcrumbs -->

				<div class="breadcrumbs">
					<nav  class="container" aria-label="Хлебные крошки" itemprop="breadcrumb">
						<ul class="breadcrumbs__list" itemscope="" itemtype="http://schema.org/BreadcrumbList">
							<meta content="1" itemprop="position">
							<li class="" itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
								<a href="index.html" rel="home" aria-label="Главная" itemtype="https://schema.org/Thing" itemprop="item">
									<span itemprop="name">
										<span class="breadcrumb-home">Главная</span>
									</span>
								</a>
							</li>
							<li class="" itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
								<meta content="2" itemprop="position">
								<a href="page-category.html" itemtype="https://schema.org/Thing" itemprop="item">
									<span itemprop="name">Дом и быт</span>
								</a>
								
							</li>
							<li class="" itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
								<meta content="3" itemprop="position">
								<a href="#" itemtype="https://schema.org/Thing" itemprop="item">
									<span itemprop="name">Выбор напольного покрытия для кухни</span>
								</a>
								
							</li>
						</ul>
					</nav>
				</div>

				<!-- //Breadcrumbs -->



				<section class="sect__article gutter-bottom">
					<div class="container">
						<div class="article-img bg" style="background-image: url('img/article-img.jpg');"></div>

						<div class="article-wrapper">
							<aside class="aside">
								<div class="article-contents">
									<p class="article-contents__title">Содержание</p>

									<ul class="toc_widget_list">
										<li>
											<a href="#i"><span>1</span>Как тушили пожары на Руси</a>
											<ul>
												<li>
													<a href="#i-2"><span>1.1</span>Появление пожарной дружины</a>
												</li>
											</ul>
										</li>

										<li>
											<a href="#i-3"><span>2</span>Пожарная охрана в эпоху строительства</a>
										</li>

										<li>
											<a href="#i-4"><span>3</span>Профессия пожарного в наши дни</a>
											<ul>
												<li>
													<a href="#i-2"><span>3.1</span>Пожарные за рубежом</a>
												</li>
												<li>
													<a href="#i-2"><span>3.2</span>Частные пожарные компании</a>
												</li>
											</ul>
										</li>
									</ul>
								</div>

								<div class="share">
									<p class="share__text">Поделиться:</p>
									{% include '../parts/components/share-list.html' %}
								</div>
							</aside>

							<div class="article-content">
								<article class="article">
									<header class="article-header">
										<h1 class="title title-h1-size">Как не потеряться в лесу</h1>
										<div class="article-header__preview">
											<p>Перед походом в лес за ягодами и грибами, вы наверняка задумаетесь — а как не заблудиться? В статье мы подробно расскажем все правила поведения и ответим на этот вопрос.</p>
										</div>

										<div class="article-mobile-tools">

											<div class="share">
												<p class="share__text">Поделиться:</p>
												{% include '../parts/components/share-list.html' %}
											</div>

											<div class="article-contents">
												<button class="article-contents__btn js-toggle-article-contents-btn" type="button" aria-label="Открыть содержание статьи">Содержание</button>

												<p class="article-contents__title">Содержание</p>

												<ul class="toc_widget_list">
													<li>
														<a href="#i"><span>1</span>Как тушили пожары на Руси</a>
														<ul>
															<li>
																<a href="#i-2"><span>1.1</span>Появление пожарной дружины</a>
															</li>
														</ul>
													</li>

													<li>
														<a href="#i-3"><span>2</span>Пожарная охрана в эпоху строительства</a>
													</li>

													<li>
														<a href="#i-4"><span>3</span>Профессия пожарного в наши дни</a>
														<ul>
															<li>
																<a href="#i-2"><span>3.1</span>Пожарные за рубежом</a>
															</li>
															<li>
																<a href="#i-2"><span>3.2</span>Частные пожарные компании</a>
															</li>
														</ul>
													</li>
												</ul>
											</div>

											
										</div>
									</header>

									<div class="article-body">
										<div class="content">

											<h2>Как одеваться в лес</h2>
											<p>Отнеситесь к выбору одежды серьезно. Помните, что для похода в лес одеваться стоит только по погоде. Заранее посмотрите прогноз погоды. Подбирайте легкую, не стесняющую движений одежду. Также она должна быть ярких цветов. </p>
											<p>Это нужно для того, чтобы вас смогли быстрее найти, если вы потеряетесь. А главное — она должна быть полностью закрытой, чтобы защитить от воздействия солнечных лучей и насекомых: комаров, клещей, слепней. Из которых клещи наиболее опасны.</p>
											<img src="img/article-img.jpg" alt="">
											<p>Для прогулки в теплое время года, выбирайте вещи из натуральных материалов. Например, хлопковую одежду. Лучше всего, если это будет многослойная одежда. Она должна закрывать все участки кожи, чтобы избежать попадания клещей на тело. На шею можно повязать легкий платок. Если прогнозируются дожди, возьмите с собой сменную одежду в полиэтиленовом пакете. От дождя также поможет плащ из того же материала. Полиэтилен легко складывается, занимает мало места, и его не будет жалко, если он порвется.</p>
											<p>Когда вся одежда уже подобрана, осталось выбрать головной убор. В лесу это просто необходимая вещь! Он защитит от солнечных лучей, от насекомых. В качестве обуви подойдут кроссовки и сапоги. Брюки лучше заправить в обувь.</p>

											<h2>Что с собой взять</h2>
											<p>Вот обязательный список вещей, которые пригодятся в походе в лес:</p>
											<hr>
											<ul>
												<li>Средства навигации. <i>Подробнее о них мы расскажем ниже</i></li>
												<li>Вода в бутылке или фляге</li>
												<li>Фонарик с запасными батарейками</li>
												<li>Спички или зажигалка</li>
												<li>Маленькая аптечка с самым необходимым</li>
												<li>Блокнот и яркий маркер, для возможности оставлять пометки</li>
											</ul>
											<hr>

											<h2>Навигатор, компас и другие способы не заблудиться</h2>
											<img src="img/article-left.png" alt="" class="alignleft">
											<p>Далеко-далеко за, словесными горами в стране гласных и согласных живут рыбные тексты. Заголовок осталось, лучше заглавных страну, ведущими, коварный снова вопроса, страна грамматики обеспечивает буквоград сбить ipsum маленький о путь там своего. Даль на берегу рыбного дорогу, напоивший, парадигматическая своего заглавных всеми пояс, себя сбить рукопись! Большой, заголовок вершину lorem, родного речью все?</p>
											<p>Существует много приспособлений, способных помочь не заблудиться — это карты, компас, навигатор, свисток. Однако кроме них есть и другие. </p>
											<p>Вот несколько рекомендаций, которые сделают ваше пребывание в лесу безопасным:</p>
											<hr>
											<ol>
												<li>Если есть возможность, не ходите в лес один <i>Текст</i></li>
												<li>Предупредите близких о своем походе</li>
												<li>Имейте заряженный телефон, карты, компас и тд. </li>
											</ol>
											<p>По возможности запоминайте разные ориентиры. Например, ручей, поляна, оставляйте на деревьях пометки маркером. Также по пути оставляйте зарубки на деревьях, сломанные ветки. Обратите внимание с какой стороны находится проезжая часть, железная дорога или населенный пункт. Также ориентиром может выступать солнце. Запомните с какой стороны оно было, когда вы заходили в лес. При выходе из леса по той же дороге, солнце будет расположено с другой стороны.</p>
											<hr>

											<h2>Если вы потерялись</h2>
											<p>Перед тем как идти в лес, нужно изучить основные правила ориентирования в лесу. Если вы потеряетесь и будете их использовать, они способны вас выручить. Итак, если вы поняли, что не можете найти обратную дорогу, проверьте свой телефон. Если он не разряжен и сеть есть, позвоните в службу спасения «112». Скажите из какого города вы звоните и из какого района вошли в лес. Подробно опишите, что вас окружает и оператор сможет вывести вас к ориентиру или ближайшему населённому пункту</p>


											<!-- Shortcodes -->
											<div class="blok_my_1">
												<p>Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты.</p>
												<ol>
													<li>Средства навигации. <i>Подробнее о них мы расскажем ниже</i></li>
													<li>Вода в бутылке или фляге</li>
													<li>Фонарик с запасными батарейками</li>
													<li>Спички или зажигалка</li>
													<li>Блокнот и яркий маркер, для возможности оставлять пометки</li>
													<li>Маленькая аптечка с самым необходимым</li>
													<li>Еда, которая долго не портится</li>
												</ol>
											</div>

											<p>Отнеситесь к выбору одежды серьезно. Помните, что для похода в лес одеваться стоит только по погоде. Заранее посмотрите прогноз погоды. Подбирайте легкую, не стесняющую движений одежду. Также она должна быть ярких цветов. Это нужно для того, чтобы вас смогли быстрее найти, если вы потеряетесь. А главное — она должна быть полностью закрытой, чтобы защитить от воздействия солнечных лучей и насекомых: комаров, клещей, слепней. Из которых клещи наиболее опасны.</p>

											<div class="blok_my_2">Взорвется ли ядерная бомба в космосе?</div>

											<div class="su-heading su-heading-style-default su-heading-align-center">
												<div class="su-heading-inner">Какие страны владеют ядерным оружием помимо этого списка сказать сложно: есть предположения, что Израиль владеет боеприпасами разработки 60-х — 70-х годов, но официального подтверждения этому факту пока нет.</div>
											</div>

											<p>Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Несколько дороге языкового он? Большого, парадигматическая свой имени страну даже единственное. Необходимыми, напоивший ты выйти lorem всемогущая продолжил наш предложения, он безопасную рот она эта себя! Взобравшись города океана все.</p>

											<blockquote>
												<p>Не нужно выходить в лес вечером или ночью. В темное время суток есть большой риск того, что вы потеряетесь. Если вы планировали переночевать, то лучше сразу, как начнет темнеть, обустроить место для ночлега</p>
											</blockquote>


											<div class="note">
												<div class="notewarning">Сила ударной волны способна разрушать здания и поднимать грунт. Всё, что попадает в радиус её действия в большей степени будет разрушено, а живые организмы и люди после ядерного взрыва с наибольшей вероятностью не выживут из-за воздействия радиации.
												</div>
											</div>

											<div class="note note_danger">
												<p>Сила ударной волны способна разрушать здания и поднимать грунт. Всё, что попадает в радиус её действия в большей степени будет разрушено, а живые организмы и люди после ядерного взрыва с наибольшей вероятностью не выживут из-за воздействия радиации.
												</p>
											</div>

											<div class="note note_warning">
												<p>Сила ударной волны способна разрушать здания и поднимать грунт. Всё, что попадает в радиус её действия в большей степени будет разрушено, а живые организмы и люди после ядерного взрыва с наибольшей вероятностью не выживут из-за воздействия радиации.
												</p>
											</div>

											<div class="note note_info">
												<p>Сила ударной волны способна разрушать здания и поднимать грунт. Всё, что попадает в радиус её действия в большей степени будет разрушено, а живые организмы и люди после ядерного взрыва с наибольшей вероятностью не выживут из-за воздействия радиации.
												</p>
											</div>

											<p>
												<input name="vdz_checkbox" required="" type="checkbox" value="" checked>
												30г сахара
											</p>

											<p>
												<input name="vdz_checkbox" required="" type="checkbox" value="">
												30г сахара
											</p>

											<p>
												<input name="vdz_checkbox_error" required="" type="checkbox" value="">
												30г сахара
											</p>


											<pre>Не нужно выходить в лес вечером или ночью. В темное время суток есть большой риск того, что вы потеряетесь. Если вы планировали переночевать, то лучше сразу, как начнет темнеть, обустроить место для ночлега</pre>
											<hr>
											<!-- //Shortcodes -->

											<h2>Далеко-далеко, за словесными горами в стране.</h2>
											<p>Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Силуэт заглавных на берегу пустился знаках, языкового океана пор образ? Не семь реторический инициал однажды но безорфографичный? Рукопись семантика языком, единственное даже проектах путь правилами речью, встретил первую взобравшись подпоясал ему предупреждал имени своих имеет щеке всемогущая его журчит моей реторический.</p>

										</div>
									</div>
								</article>

								<!-- Comments -->
								<div class="comments">
									<h2 class="title title-h2-size">Комментарии</h2>

									<div class="comments-form">
										<form>
											<div class="row row-gutters-sm align-horisontal-start form-groups__row">
												<div class="form-group col-gutters-sm col-w-50">
													<input type="text" name="author" id="author" value=""  size="30" alt="Name" required placeholder="Ваше имя" class="default-input">
												</div>
													<div class="form-group col-gutters-sm col-w-50">
													<input type="email" name="email" id="email" value=""  size="30" alt="Email" required placeholder="Ваш e-mail" class="default-input">
												</div>
												<div class="form-group col-gutters-sm col-w-100">
													<textarea name="comment" id="comment" required placeholder="Написать комментарий" class="default-input"></textarea>
												</div>
											</div>

											<button class="btn-send" type="submit" disabled>Написать комментарий</button>
											
										</form>
									</div>
								</div>
								<!-- //Comments -->
							</div>
						</div>
					</div>
					<!-- //container -->
				</section>


			</div>

		</main>
		<!-- //Main -->

		<!-- Footer -->
		{% include '../parts/sections/footer.html' %}
		<!-- //Footer -->

	</div>
	<!-- //CONTENT WRAPPER -->

	{% include '../parts/scripts.html' %}

</body>

</html>