{% include '../parts/head.html' %}
<body>
	
	<!-- CONTENT WRAPPER -->
	<div class="content__wrapper">

		<!-- Header -->
		{% include '../parts/sections/header.html' %}
		<!-- //Header -->

		<!-- Main -->
		<main class="main">


			<div class="page-search">

				<!-- Breadcrumbs -->

				<div class="breadcrumbs">
					<nav  class="container" aria-label="Хлебные крошки" itemprop="breadcrumb">
						<ul class="breadcrumbs__list" itemscope="" itemtype="http://schema.org/BreadcrumbList">
							<meta content="1" itemprop="position">
							<li class="" itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
								<a href="index.html" rel="home" aria-label="Главная" itemtype="https://schema.org/Thing" itemprop="item">
									<span itemprop="name">
										<span class="breadcrumb-home">Главная</span>
									</span>
								</a>
							</li>

							<li class="" itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
								<meta content="2" itemprop="position">
								<a href="#" itemtype="https://schema.org/Thing" itemprop="item">
									<span itemprop="name">Результат поиска</span>
								</a>
								
							</li>
						</ul>
					</nav>
				</div>

				<!-- //Breadcrumbs -->


				<section class="sect__search gutter-bottom">
					<div class="container">
						<h1 class="title title-h2-size page-search__title">Результаты поиска</h1>

						<div class="results">
							<div class="articles-cards__row row row-gutters align-horisontal-start">
								<!-- Article card -->
								<div class="article-card__wrapper col-gutters">
									{% include '../parts/components/article-card.html' %}
								</div>
								<!-- //Article card -->

								<!-- Article card -->
								<div class="article-card__wrapper col-gutters">
									{% include '../parts/components/article-card.html' %}
								</div>
								<!-- //Article card -->

								<!-- Article card -->
								<div class="article-card__wrapper col-gutters">
									{% include '../parts/components/article-card.html' %}
								</div>
								<!-- //Article card -->

								<!-- Article card -->
								<div class="article-card__wrapper col-gutters">
									{% include '../parts/components/article-card.html' %}
								</div>
								<!-- //Article card -->

								<!-- Article card -->
								<div class="article-card__wrapper col-gutters">
									{% include '../parts/components/article-card.html' %}
								</div>
								<!-- //Article card -->

								<!-- Article card -->
								<div class="article-card__wrapper col-gutters">
									{% include '../parts/components/article-card.html' %}
								</div>
								<!-- //Article card -->

								<!-- Article card -->
								<div class="article-card__wrapper col-gutters">
									{% include '../parts/components/article-card.html' %}
								</div>
								<!-- //Article card -->

								<!-- Article card -->
								<div class="article-card__wrapper col-gutters">
									{% include '../parts/components/article-card.html' %}
								</div>
								<!-- //Article card -->

								<!-- Article card -->
								<div class="article-card__wrapper col-gutters">
									{% include '../parts/components/article-card.html' %}
								</div>
								<!-- //Article card -->

								<!-- Article card -->
								<div class="article-card__wrapper col-gutters">
									{% include '../parts/components/article-card.html' %}
								</div>
								<!-- //Article card -->

								<!-- Article card -->
								<div class="article-card__wrapper col-gutters">
									{% include '../parts/components/article-card.html' %}
								</div>
								<!-- //Article card -->

								<!-- Article card -->
								<div class="article-card__wrapper col-gutters">
									{% include '../parts/components/article-card.html' %}
								</div>
								<!-- //Article card -->

								<!-- Article card -->
								<div class="article-card__wrapper col-gutters">
									{% include '../parts/components/article-card.html' %}
								</div>
								<!-- //Article card -->

								<!-- Article card -->
								<div class="article-card__wrapper col-gutters">
									{% include '../parts/components/article-card.html' %}
								</div>
								<!-- //Article card -->

								<!-- Article card -->
								<div class="article-card__wrapper col-gutters">
									{% include '../parts/components/article-card.html' %}
								</div>
								<!-- //Article card -->

								<!-- Article card -->
								<div class="article-card__wrapper col-gutters">
									{% include '../parts/components/article-card.html' %}
								</div>
								<!-- //Article card -->

								<!-- Article card -->
								<div class="article-card__wrapper col-gutters">
									{% include '../parts/components/article-card.html' %}
								</div>
								<!-- //Article card -->

								<!-- Article card -->
								<div class="article-card__wrapper col-gutters">
									{% include '../parts/components/article-card.html' %}
								</div>
								<!-- //Article card -->

								<!-- Article card -->
								<div class="article-card__wrapper col-gutters">
									{% include '../parts/components/article-card.html' %}
								</div>
								<!-- //Article card -->

								<!-- Article card -->
								<div class="article-card__wrapper col-gutters">
									{% include '../parts/components/article-card.html' %}
								</div>
								<!-- //Article card -->

								<!-- Article card -->
								<div class="article-card__wrapper col-gutters">
									{% include '../parts/components/article-card.html' %}
								</div>
								<!-- //Article card -->

								<!-- Article card -->
								<div class="article-card__wrapper col-gutters">
									{% include '../parts/components/article-card.html' %}
								</div>
								<!-- //Article card -->
							</div>
						</div>
					</div>
					<!-- //container -->
				</section>

			</div>

		</main>
		<!-- //Main -->

		<!-- Footer -->
		{% include '../parts/sections/footer.html' %}
		<!-- //Footer -->

	</div>
	<!-- //CONTENT WRAPPER -->

	{% include '../parts/scripts.html' %}

</body>

</html>