<article class="article-card">
	<a href="page-article.html" class="article-card__thumbnail thumbnail">
		<img src="img/thumbnail.png" alt="">
	</a>
	<div class="article-card__content">
		<h3 class="title title-h3-size">
			<a href="page-article.html">Куда поехать на Новый год 2021 за границу</a>
		</h3>
		<div class="article-card__preview">
			<p>Перед походом в лес за ягодами и грибами, вы наверняка задумаетесь — а как не заблудиться?</p>
		</div>
		<div class="article-categories" aria-label="Категории записи">
			<ul>
				<li><a href="page-category.html">Здоровье и спорт</a></li>
				<li><a href="page-category.html">Биатлон</a></li>
			</ul>
		</div>
	</div>

</article>