<nav class="nav">
	<ul>
		<li class="menu-item-has-children">
			<a href="page-category.html">Досуг</a>

			<ul class="sub-menu">
				<li><a href="page-subcategory.html">Игры</a></li>
				<li><a href="page-subcategory.html">Кино</a></li>
				<li><a href="page-subcategory.html">Хобби</a></li>
			</ul>
		</li>

		<li class="menu-item-has-children">
			<a href="page-category.html">Путешествия</a>

			<ul class="sub-menu">
				<li><a href="page-subcategory.html">Города и страны</a></li>
				<li><a href="page-subcategory.html">Туризм</a></li>
			</ul>
		</li>

		<li class="menu-item-has-children">
			<a href="page-category.html">Еда</a>

			<ul class="sub-menu">
				<li><a href="page-subcategory.html">Как приготовить</a></li>
				<li><a href="page-subcategory.html">Кухни Зарубежья</a></li>
				<li><a href="page-subcategory.html">Статьи о здоровом питании</a></li>
			</ul>
		</li>

		<li class="menu-item-has-children">
			<a href="page-category.html">Дом и быт</a>

			<ul class="sub-menu">
				<li><a href="page-subcategory.html">Дизайн</a></li>
				<li><a href="page-subcategory.html">Идеи для дома</a></li>
				<li><a href="page-subcategory.html">Строительство и ремонт</a></li>
			</ul>
		</li>

		<li class="menu-item-has-children">
			<a href="page-category.html">Финансы</a>

			<ul class="sub-menu">
				<li><a href="page-subcategory.html">Бизнес и финансы</a></li>
				<li><a href="page-subcategory.html">Инвестиции</a></li>
				<li><a href="page-subcategory.html">Кредит и ипотека</a></li>
				<li><a href="page-subcategory.html">Личные финансы</a></li>
				<li><a href="page-subcategory.html">Страхование</a></li>
			</ul>
		</li>

		<li>
			<a href="page-category.html">Здоровье и спорт</a>

		</li>

		<li class="menu-item-has-children">
			<a href="page-category.html">Наука</a>

			<ul class="sub-menu">
				<li><a href="page-subcategory.html">История</a></li>
				<li><a href="page-subcategory.html">Космос</a></li>
			</ul>
		</li>

		<li>
			<a href="page-category.html">Вопросы</a>

		</li>
		
	</ul>
</nav>
