.header
	background-color $header-bg
	margin-bottom 30px
	&-content
		position relative
		

	.asl_w
		width 100%
		
.header-tools
	display none
	align-items center
	justify-content flex-end
	&__divider
		flex none
		margin 0 15px
		display inline-block
		height 16px
		width 1px
		background-color rgba($dark-text-color, .1)


.search-wrapper
	flex 1
	width 100%
	max-width 270px
	height 40px
	outline 1px solid red
	
	// div.asl_w
	// 	box-shadow none
	// 	text-shadow none
	
	// #ajaxsearchlite1 .probox, 
	// div.asl_w .probox
	// 	width 100%
	// 	border 1px solid $search-border-color
	// 	border-radius 5px
		
	// #ajaxsearchlite1
	// 	.probox
	// 		.proinput
	// 			input.orig
	// 				display block
	// 				width 100%
	// 				text-shadow none
	// 				font 13px $Reg
	// 				color $dark-text-color
	// 				&::-webkit-input-placeholder
	// 					font 13px $Reg
	// 					color rgba($dark-text-color, .5)
	// 				&::-moz-placeholder
	// 					font 13px $Reg
	// 					color rgba($dark-text-color, .5)
	// 				&:-moz-placeholder
	// 					font 13px $Reg
	// 					color rgba($dark-text-color, .5)
	// 				&:-ms-input-placeholder
	// 					font 13px $Reg
	// 					color rgba($dark-text-color, .5)
					
	// 	.probox 
	// 		.promagnifier
	// 			background-image none
	// 			box-shadow none
				
	// 			.innericon 
	// 				svg
	// 					width 14px
	// 					height 14px
	// 					svg()
	// 					fill $dark-text-color
	// 					opacity .5