.header
	background-color $header-bg
	margin-bottom 30px
	&-content
		position relative
		

	.asl_w
		width 100%
		
.header-tools
	display none
	align-items center
	justify-content flex-end
	&__divider
		flex none
		margin 0 15px
		display inline-block
		height 16px
		width 1px
		background-color rgba($dark-text-color, .1)


.search-wrapper
	flex 1
	width 100%
	max-width 270px
	height 40px
	
	div
		&.asl_w
			border none
			box-shadow none
			background-color $basic-white-color
			height 40px
			border 1px solid $search-border-color
			border-radius 5px
			display flex
			align-items center
			justify-content space-between
			*
				font-family $Reg !important
				
		&.asl_m
			.probox 
				width 100%
				padding-right 14px
				.promagnifier
					background none
					border none
					box-shadow none
					.innericon 
						svg
							fill rgba($dark-text-color, .5)
							transition fill .17s ease-in-out
					&:hover
						.innericon 
							svg
								fill rgba($dark-text-color, 1)
								
				.proinput
					margin 0
					padding 0
					float none
					
					input.autocomplete
						display none !important
					input[type=submit]
						display none !important
						
					input.orig
						font 13px $Reg !important
						color $dark-text-color !important
						padding-left 20px !important
						box-sizing border-box
						text-shadow none
						
						&::-webkit-input-placeholder
							font 13px $Reg !important
							
							color rgba($dark-text-color, .5)
						&::-moz-placeholder
							font 13px $Reg !important
							
							color rgba($dark-text-color, .5)
						&:-moz-placeholder
							font 13px $Reg !important
							
							color rgba($dark-text-color, .5)
						&:-ms-input-placeholder
							font 13px $Reg !important
							
							color rgba($dark-text-color, .5)

body
	.asl_w
		*
			font-family $Reg !important
	div.asl_r
		&.vertical
			background-color $basic-white-color
			border-radius 5px
			box-shadow 0px 10px 50px rgba(0, 0, 0, 0.08)
			border none
			padding 15px
			padding-right 0
			
		.resdrg
			padding-right 15px
			
		.results 
			.item
				border none
				padding 0
				border-radius 0 !important
				margin-bottom 15px
				&.hovered
					background none !important
				&:after
					display none
				&:last-child
					margin-bottom 0
					
				.asl_content 
					padding 0
					h3 
						a
							font 13px $Reg
							color $dark-text-color
							&:hover
								font-size 13px
								color $accent-color
								
							span.overlap
								display none
								
					.asl_desc,
					.etc
						display none
			
			.asl_content
				padding 0
				
	div.asl_r.asl_w.vertical 
		.results 
			.item::after
				display none
	
	