.breadcrumbs
	margin-bottom 30px
	li
		display inline-block
		position relative
		padding-right 15px
		margin-right 11px
		a
			font 13px $Med
			color $dark-text-color
			border-bottom 1px solid
			&:hover
				color $accent-color
		&:after
			pseudo()
			position absolute
			vertical-center()
			right 0
			width 3px
			height 3px
			border-radius 50%
			background-color $dot-color
			opacity .2
		&:last-child
			margin-right 0
			&:after
				display none
				
			a
				border-bottom none
				color $light-text-color