.btn
	display inline-block
	padding 12px 28px
	font 13px $Reg
	line-height 21px
	line-height 1
	text-align center
	color $dark-text-color
	background-color $secondary-color
	border-radius 5px
	transition all .17s ease-in-out
	backface-visibility hidden
	
	&-submit
		span
			display inline-block
			position relative
			transition all 17s ease-in-out
			will-change transform
			&:after
				pseudo()
				position absolute
				top 50%
				transform translateY(-50%)
				right -10px
				width 6px
				height 12px
				background url('../img/icons/svg/submit-arrow.svg') 50% no-repeat / contain
				opacity 0
				transition all .17s ease-in-out
		&:hover
			span

				&:after
					opacity 1
					transform translate(5px, -50%)
		
	&-close
		display inline-block
		width 10px
		height 10px
		svg
			svg()
			fill $dark-text-color
			opacity .3
		&:hover
			svg
				opacity 1
				
	&-toggle
		display none
		width 25px
		height 25px
		position relative
		&.is-active
			transform rotate(90deg)
		svg
			svg()
			width 6px
			height 12px
			position absolute
			position-center()
			fill $dark-text-color
		
	&-search
		display inline-block
		width 20px
		height 20px
		svg
			svg()
			fill $dark-text-content
			opacity .5
		

		

	&-hamburger
		display inline-block
		position relative
		padding-left 30px
		font 13px $Reg
		color $dark-text-color
		svg
			svg()
			width 20px
			height 20px
			fill $basic-black-color
			opacity .5
			position absolute
			left 0
			vertical-center()