.slider
	&__loader
		position absolute
		fullSize()
		z-index 10
		background-color $light-color
		transition all .15s ease-in-out
		&:before
			pseudo()
			width 30px
			height 30px
			position absolute
			position-center()
			background url('../img/slider-loader.gif') 50% 50% no-repeat / 30px 30px
			
		&.is-loaded
			opacity 0
			visibility hidden
			pointer-events none
			
	&-notice
		position relative
		padding-left 58px
		opacity .3
		font-size 14px
		line-height 21px
		color $dark-text-color
		margin-top 40px
		display none
		&:before
			pseudo()
			position absolute
			left 0
			vertical-center()
			width 40px
			height 40px
			background url('../img/icons/svg/hand.svg') 50% no-repeat / contain
			
.swiper-container
	*
		box-sizing border-box
		

.articles-slider
	.swiper-wrapper
		margin-left -10px
		margin-right -10px
		

