.slider
	&__loader
		position absolute
		fullSize()
		z-index 10
		background-color $light-color
		transition all .15s ease-in-out
		&:before
			pseudo()
			width 30px
			height 30px
			position absolute
			position-center()
			background url('../img/slider-loader.gif') 50% 50% no-repeat / 30px 30px
			
		&.is-loaded
			opacity 0
			visibility hidden
			pointer-events none
			
	&-controls
		margin-top 40px
		display flex
		align-items center
		flex-wrap nowrap
		
	&-navigation
		height 20px
		display flex
		flex-wrap nowrap
		&__btn
			display inline-block
			width 20px
			height 20px
			position relative
			svg
				svg()
				position absolute
				position-center()
				width 8px
				height 14px
				fill $dark-text-color
			&:hover
				svg
					fill $accent-color
				
			&.is-disabled,
			&:disabled
				pointer-events none
				opacity .2
					
			
	&-scrollbar
		height 2px
		background-color rgba($dark-text-color, .1)
		flex 1
		margin-right 20px
		
		.swiper-scrollbar-drag
			background-color $accent-color
			height 100%
			cursor move
			cursor grab
			cursor -moz-grab
			cursor -webkit-grab
			&:active 
				cursor grabbing
				cursor -moz-grabbing
				cursor -webkit-grabbing

	&-notice
		position relative
		padding-left 58px
		opacity .3
		font-size 14px
		line-height 21px
		color $dark-text-color
		margin-top 40px
		display none
		&:before
			pseudo()
			position absolute
			left 0
			vertical-center()
			width 40px
			height 40px
			background url('../img/icons/svg/hand.svg') 50% no-repeat / contain
			
.swiper-container
	*
		box-sizing border-box
		

.articles-slider
	.swiper-wrapper
		margin-left -10px
		margin-right -10px
		

.articles-cards__slider
	min-width 0
	
	.swiper-slide
		&:nth-child(3n+1)
			.article-card__thumbnail
				padding-top 142%
		&:nth-child(3n+3)
			.article-card__thumbnail
				padding-top 88%
				

.subcategories-slider
	margin-top 24px
	.slider-scrollbar
		margin-top 40px
	.swiper-slide
		width 305px
	
		

