<footer class="footer">
	<div class="container">
		<div class="footer-top">
			<div class="row align-horisontal-between align-vertical-start">
				<div class="email">
					<p>Наш E-mail адрес:</p>
					<a href="mailto:info@vokrug-nas.ru">info@vokrug-nas.ru</a>
				</div>

				<!-- Share -->
				{% include '../components/share.html' %}
				<!-- //Share -->
			</div>
		</div>
		<div class="footer-bottom">
			<div class="row align-horisontal-between align-vertical-center">
				<p>Все права защищены</p>
				<a href="#">Политика конфиденциальности</a>
			</div>
		</div>
	</div>
	<!-- //container -->
</footer>


{% include '../components/popup.html' %}
