.disable-hover,
.disable-hover * 
	pointer-events none !important

.gutters
	padding $gutters
	
.gutter
	&-top
		padding-top $gutter-top
	&-bottom
		padding-bottom $gutter-bottom
	
.w3c
	visibility hidden
	display none
	
.content__wrapper
	overflow hidden
	width 100%
	height 100%

.sect-title
	font 2em $Bold
	margin-bottom 40px
	
.title
	color $dark-text-color
	font-family $SemiBold
	&-h1-size
		font 60px $Med
		line-height 73px
	&-h2-size
		font-size 40px
		line-height 48px
		&-sm
			font-size 30px
			line-height 40px
			
	&-h3-size
		font-size 20px
		line-height 27px
		&-sm
			font-size 16px
			line-height 24px
		

	a
		color inherit
		&:hover
			color $accent-color
		
.text-center
	text-align center
	
.text-left
	text-align left
	
.text-right
	text-align right
	
.basic-white-color
	color $basic-white-color

.basic-black-color
	color $basic-black-color
	
.light-text-color
	color $light-text-color
	
.dark-text-color
	color $dark-text-color
	
.accent-color
	color $accent-color
	
.content-img
	display block
	margin 0 auto
	max-width 100%
	max-height 100%
	width auto
	height auto
	
.bg
	bg(50%, 50%)
	
.bg-with-overlay
	position relative
	bg(50%, 50%)
	&:before
		pseudo()
		position absolute
		fullSize()
		background-color rgba($bg-overlay-color, $bg-overlay-opacity)
	.container
		position relative
		z-index 2
		
.color-bg
	background-color $color-bg
	
.visually-hidden
	position absolute
	clip rect(0 0 0 0)
	width 1px
	height 1px
	margin -1px
	z-index -999
	opacity 0
	visiiblity hidden
	
.thumbnail
	position relative
	overflow hidden
	width 100%
	padding-top 70%
	border-radius 5px
	display block
	img
		display block
		position absolute
		position-center()
		width 100%
		height 100%
		object-fit cover
		
	&:hover
		opacity .85
	

.content
	color rgba($dark-text-color, .8)
	padding-right 2px
	*
		&:last-child
			margin-bottom 0
		&:first-child
			margin-top 0
			
	h2,h3,h3,h4,h5,h6
		color $dark-text-color
		font-family $SemiBold
		
	h2
		font-size 45px
		line-height 54px
		margin 30px 0
		
	h3
		font-size 20px
		line-height 27px
		margin 30px 0
		
	h4, h5, h6
		font-size 16px
		line-height 24px
		margin 25px 0
		
	p
		margin 30px 0
		
	img
		display block
		width auto
		max-width 100%
		margin 30px 0
		&.aligncenter
			margin 30px 0
		&.alignleft
			float left
			margin 0 30px 30px 0
		&.alignright
			float right
			margin 0 0 30px 30px
		
		
	strong, b
		font-family $SemiBold
		
	hr
		display block
		margin 25px 0
		border-width 1px
		border-color rgba($dark-text-color, .1)
	
		
	h2 + p,
	h3 + p,
	h4 + p
		margin-top 30px
		
	p + ul,
	p + ol
		margin-top -5px
		
	p + hr
		margin-top -5px
		
	hr + h2
		margin-top 65px
	hr + h3
		margin-top 65px
		
	table
		td
			width 50%
			padding 10px
		tr
			border-bottom 1px solid rgba($dark-text-color, .1)
		
	ul, ol
		margin 25px 0
		clear both
		li
			display block
			position relative
			margin-bottom 10px
			i
				display block
				color #B2B2B2
				font-size 14px
				width 100%
			
			&:last-child
				margin-bottom 0
				
	ul
		li
			padding-left 20px
			margin-bottom 25px
			&:last-child
				margin-bottom 0
			&:before
				pseudo()
				width 5px
				height 5px
				border-radius 50%
				position absolute
				left 0
				top 10px
				background-color $accent-color
				
	ol
		counter-reset list
	
		li
			margin-bottom 25px
			position relative
			padding-left 30px

			&:before
				counter-increment list
				content counter(list)
				width 18px
				height 18px
				position absolute
				left 0
				top 4px
				flex-col-center()
				border-radius 50%
				color $basic-white-color
				background-color $accent-color
				font 10px $SemiBold
				
				
	blockquote,
	.su-heading-style-default
		display block
		position relative
		padding 25px 0 25px 100px
		border-top 1px solid rgba($dark-text-color, .1)
		border-bottom 1px solid rgba($dark-text-color, .1)
		font-size 20px
		line-height 27px
		font-style italic
		color $accent-color
		text-align left
		margin 30px 0
		&:before
			pseudo()
			position absolute
			left 0
			top 25px
			width 65px
			height 40px
			background url('../img/icons/svg/quote.svg') left center no-repeat / contain
			opacity .1
			
	.su-heading-style-default 
		.su-heading-inner
			padding 0
			border none
			
	pre
		display block
		margin 40px 0
		padding 36px 60px 36px 166px
		color $basic-white-color
		font-size 20px
		line-height 27px
		font-style italic
		background-color $accent-color
		border-radius 5px
		width 100%
		white-space normal
		position relative
		&:before
			pseudo()
			position absolute
			left 60px
			top 36px
			width 65px
			height 40px
			background url('../img/icons/svg/quote-light.svg') left center no-repeat / contain
			opacity .5
			

	.note
		text-align left
		border-width 1px 1px 1px 12px
		border-radius 5px
		border-style solid
		border-color $accent-color
		padding 45px 45px 45px 180px
		margin 30px 0
		color $accent-color
		font-size 24px
		line-height 32px
		font-style italic
		position relative
		&:before
			content '!'
			width 100px
			height 100px
			flex-col-center()
			border-radius 50%
			background-color $accent-color
			color $basic-white-color
			position absolute
			left 35px
			top 45px
			font-style normal
			font 85px $SemiBold
			line-height 1
				
	

	.blok_my_1
		color $basic-white-color
		background-color $accent-color
		padding 60px 70px
		margin 30px 0
		border-radius 5px
		ul, ol
			column-count 2
			column-gap 15px
			i
				display block
				color #D9D9D9
		ul
			li
				&:before
					background-color $basic-white-color
		ol
			li
				display block
				padding-left 30px
				&:before
					position absolute
					left 0
					top 4px
					background-color $basic-white-color
					color $accent-color
					margin-top 0
					margin-right 0
					
				i
					margin-left 0
					
				
					

	.blok_my_2
		font-size 35px
		font-style italic
		color $accent-color
		font-weight 400
		border-bottom 1px solid $accent-color
		border-top 1px solid $accent-color
		text-align center
		display block
		padding 30px 0
		margin 30px 0
		
	input[type=checkbox]
		display inline-block
		vertical-align middle
		width 15px
		height 15px
		box-shadow none
		appearance none
		-webkit-appearance none
		margin -3px 10px 0 0
		position relative
		border-width 1.5px
		border-style solid
		background-repeat no-repeat
		background-position 50% 50%

	input[name=vdz_checkbox]
		border-color rgba($dark-text-color, .1)
		background-size 8.6px 6.25px
		&:checked
			border-color $accent-color
			background-image url('../img/icons/svg/checkbox-ic.svg')
			
			
	input[name=vdz_checkbox_error]
		border-color #FF4A4A
		background-image url('../img/icons/svg/error-ic.svg')
		background-size 7px 7px
			
		
	
