.article-img
	padding-top 47%
	width 1600px
	
.article
	
	padding-top 70px
	
	
	
	&-content
		position relative
		z-index 1
		margin-top -85px
		background-color $basic-white-color
		padding-left 65px
		&:after
			pseudo()
			position absolute
			height 100%
			width 100%
			left 100%
			top 0
			margin-left -1px
			background-color $basic-white-color
			z-index 1
	&-wrapper
		display flex
		flex-wrap nowrap
		align-items flex-start
		
	&-header
		margin-bottom 95px
	
			
		&__preview
			margin-top 25px

.article-date
	color $light-text-color
	margin-bottom 15px	

.content
	#toc_container
		display none !important
		
.comments
	margin-top 65px
	

.article-mobile-tools
	display none
	margin-top 30px
	
	.article-contents__title
		display none
		
	.toc_widget_list
		display none
		padding-top 30px
		
	.share
		padding 30px 0
		border-top 1px solid rgba($dark-text-color, .1)
		border-bottom 1px solid rgba($dark-text-color, .1)
		margin-bottom 30px
		&__text
			opacity 1
			
	.article-contents
		padding-bottom 30px
		border-bottom 1px solid rgba($dark-text-color, .1)
		position relative
		&:before
			width 60px
			height 1px
			background-color $accent-color
			left 0
			bottom -1px
			z-index 1
			pseudo()
			position absolute
			

.article-contents__btn
	display inline-block
	position relative
	font 25px $SemiBold
	width 100%
	padding-right 30px
	text-align left
	&:after
		pseudo()
		position absolute
		right 0
		height 8.25px
		width 14.6px
		background url('../img/icons/svg/arrow.svg') 50% no-repeat / contain
		transition transform .17s ease-in-out
		top 50%
		margin-top -4.125px
	&.is-active
		&:after
			transform rotate(-180deg)
	
		

.comments
	&-title
		font-size 25px
		line-height 30px
		padding-bottom 25px
		border-bottom 1px solid rgba($dark-text-color, .1)
		margin-bottom 35px
	&-form
		margin-top 25px
		padding-right 1px
		
.comment-item
	margin-bottom 30px
	display flex
	flex-wrap nowrap
	align-items flex-start
	&__avatar
		flex none
		width 55px
		height 55px
		border-radius 50%
		position relative
		overflow hidden
		margin-right 20px
		img
			display block
			width 100%
			height 100%
			object-fit cover
			position absolute
			position-center()
	&__author
		font 16px $Med
		color $dark-text-color
		margin-bottom 10px
	&__text
		font 14px $Ibm
		line-height 21px
	&__date
		font 14px $Reg
		color $dark-text-color
		opacity .5
		margin-top 15px
	&:last-child
		margin-bottom 0