.page-search__title
	margin-bottom 40px
	
.sect__404
	padding 100px 0
	
.block-404
	font 20px $Med
	line-height 26px
	p
		margin-bottom 50px
	&__title
		font 100px $SemiBold
		color $basic-black-color
	