// Media queris mixins add there
@import '../../node_modules/stylus-media-queries/index.styl'
/* -------Screen sizes----------- 
+screen(minWidth, maxWidth)
+max-screen(maxWidth)
+min-screen(minWidth)
+screen-height(minHeight, maxHeight)
+max-screen-height(maxHeight)
+min-screen-height(minHeight)
*/
+max-screen(1365px)
	.search-wrapper div.asl_w
		max-width 170px
		
+max-screen(1200px)
	.promo-block__row
		flex-wrap wrap
		
		.title
			max-width 100%
			width 100%
			margin-bottom 30px
			margin-right 0
			span
				display inline
			
			

	.nav__col
		margin-left 25px
		

	.article-content
		padding-left 25px
		
	.aside
		width 260px
			

+max-screen(1170px)
	.header
		padding 30px 0
		margin-bottom 0
		&-tools
			display flex
			
	.nav,
	.search-wrapper
		position fixed
		top 0
		left 0
		z-index 30
		transition all .23s ease-in-out
		width 100%
		height 100vh
		overflow-y auto
		padding 25px 15px
		opacity 0
		visibility hidden
		pointer-events none
		&.is-opened
			opacity 1
			visibility visible
			pointer-events auto

			
	.search-wrapper
		width 100%
		max-width 100%
		outline none
		
		div.asl_w
			max-width 100%
			position relative
			right auto
			top auto
			transform none
			&.is-active
				max-width 100%
		
	.nav
		&__col
			justify-content flex-end
		&__overlay
			display block
		&-content
			background-color $basic-white-color
			box-shadow 0px 15px 55px rgba(0, 0, 0, 0.1)
			padding 25px
			position relative
			z-index 2
			&__header
				display flex
				margin-bottom 30px
		li
			line-height 1
			display flex
			align-items center
			justify-content space-between
			flex-wrap wrap
			padding-bottom 20px
			margin-bottom 20px
			border-bottom 1px solid rgba($dark-text-color, .1)
			position relative
			margin-right 0
			
			&:last-child
				padding-bottom 0
				margin-bottom 0
				border-bottom none
			
			a
				font-size 16px
				padding-right 0
				&:after
					display none
					
	.btn-toggle
		display inline-block
		

	.sub-menu
		position relative
		width 100% !important
		flex none
		top auto
		left auto
		transition none
		opacity 1
		visibility visible
		pointer-events auto
		padding 0
		margin 0
		border none
		padding 0
		padding-top 20px
		padding-left 20px
		display none
		li
			display block
			text-align left
			margin-bottom 20px
			padding-bottom 0
			border none
			margin-right 0
			&:last-child
				margin-bottom 0
				

	.aside
		display none
		
	.article-content
		padding-left 0
		margin-top 0
		padding-right 0
		&:after
			display none
		
	.article-img
		width calc(100% + 40px)
		margin-left -20px
		margin-right -20px
		padding-top 96%
		


	.article-mobile-tools
		display block
		//height 300px
		//outline 1px solid red
			
	.article-header
		margin-bottom 40px
		
	.articles-cards__row
		.article-card__wrapper
			width 50%
			&:nth-child(1),
			&:nth-child(2)
				.title
					font-size 22px
					line-height 26px
					
			&:nth-child(10n+3),
			&:nth-child(10n+4)
				width 100%
			&:nth-child(10n+3)
				margin-bottom 0
				.article-card
					padding-bottom 0
					border-bottom none
		
				


+max-screen(1050px)
	.main-article
		.title
			font-size 22px
			line-height 26px
			

	.articles-slider
		.swiper-wrapper
			flex-wrap wrap
			
		.swiper-slide
			width 50%
			padding-bottom 20px
			


	.main-category__wrapper
		margin-bottom 80px
		width 100%
		flex 1 0 50%
		&:last-child
			margin-bottom 0
			

	.category
		&__row
			flex-wrap wrap
			
		&-text
			flex none
			width 100%
			max-width 100%
			padding-right 0
			margin-bottom 45px
			
		&-articles
			width 100%


	.pagination-wrapper
		flex-wrap wrap
		
	.btn-load-more
		flex none
		width 100%
		margin-left 0
		margin-top 40px
		height 50px

+max-screen(992px)
	.subscribe
		&__row
			flex-wrap wrap
			
		&__text
			width 100%
			
			margin-bottom 35px
		&__form
			width 100%
			
+max-screen(767px)
	.main-category__wrapper
		flex 1 0 100%
		
	.footer
		.row
			flex-wrap wrap
			
		&-top,
		&-bottom
			padding 35px 0
			
		p
			width 100%
			margin-bottom 20px
			
	.share
		width 100%
			
	.email
		width 100%
		margin-bottom 35px
	

+max-screen(700px)
	
	.container
		padding-left 15px
		padding-right 15px
		
	.gutter-bottom
		padding-bottom 80px
		
	.header
		.logo
			img
				max-width 115px
		
	.sect__promo
		padding-top 50px
		
	.promo-block
		.title
			font-size 25px
			line-height 30px
			margin-bottom 30px
			padding-bottom 30px
			border-bottom 1px solid rgba($dark-text-color, .1)
			
			i
				color $accent-color
				border-bottom 2px solid $accent-color
				font-style italic
			span
			
				display block
			
	.promo-block__row
		margin-bottom 80px
		

	.main-articles__row
		flex-wrap wrap
		
	.main-article
		padding-bottom 0
		&__wrapper
			width 100%
			padding-bottom 0
			margin-bottom 30px
			&:last-child
				margin-bottom 0
				

		.article-card__thumbnail
			padding-top 100%
			
		.title
			font-size 30px
			line-height 40px
		
			
	.main-articles
		margin-bottom 80px
		
	.articles-slider,
	.articles-cards__slider
		margin-right -20px
		.swiper-wrapper
			flex-wrap nowrap
			
		.swiper-slide
			width 325px
			padding-bottom 0
			padding-left 10px
			padding-right 10px
			
	.slider-controls
		padding-right 20px
		
		.slider-navigation
			display none
			
		.slider-scrollbar
			margin-right 0
			

			
	.slider-notice
		display block
		
	.promo-block,
	.footer,
	.article-mobile-tools
		.share
			width 100%
			
			&-socials
				display flex
				
				li
					flex 1
					
				&__link
					width 100%
					

	.subscribe
		margin-left -15px
		margin-right -15px
		padding 45px 15px
		

	.main-category
		&__wrapper
			margin-bottom 45px
		&__title
			font-size 35px
			line-height 43px
			margin-bottom 25px
			

	.sect__category
		padding 45px 0
		
	.category-text
		margin-bottom 45px
		&__description
			margin-bottom 35px
		.title
			font-size 35px
			line-height 43px
			
	.articles-cards__slider
		.swiper-slide
			&:nth-child(3n+1)
				.article-card__thumbnail
					padding-top 117%
			&:nth-child(3n+3)
				.article-card__thumbnail
					padding-top 88%
	
	.breadcrumbs
		white-space nowrap
		overflow-x auto
		padding-bottom 10px
		margin-bottom 35px
		

	.content
		font-size 16px
		line-height 24px
		
		h2
			font-size 25px
			line-height 30px
			margin-bottom 15px
			margin-top 15px
			
		p
			margin 15px 0
			
		img
			width calc(100% + 40px)
			margin-top 35px !important
			margin-bottom 35px !important
			margin-left -20px !important
			margin-right -20px !important
			max-width none
			float none !important
			
		ol
			li
				display block
				position relative
				padding-left 30px
				i
					padding-left 0
					margin-left 0
				&:before
					margin 0
					left 0
					top 4px
					position absolute
			
		ul, ol
			margin 15px 0
			
		p + h2
			margin-top 60px
			
		h2 + p
			margin-top 15px
			
		p + hr
			margin-top 25px
			
		hr + h2
			margin-top 60px
			
		.blok_my_1
			margin 25px 0
			padding 15px 15px
			
			
			ol, ul
				column-count 1
				
		.blok_my_2
			margin 25px 0
			padding 30px 0
			font-size 24px
			line-height 32px
			
		.su-heading-style-default,
		blockquote,
		pre
			padding 90px 0 30px 0
			text-align center
			font-size 18px
			line-height 27px
			margin 25px 0
			&:before
				horisontal-center()
				top 30px
				width 62px
				height 40px
		
		pre
			padding-left 25px
			padding-right 25px
			
		.note
			margin 25px 0
			padding 120px 20px 20px 20px
			font-size 20px
			line-height 27px
			&:before
				top 35px
				left 20px
				width 65px
				height 65px
				font-size 50px
			

				
		
	.article
		padding-top 35px
		
		&-header
			.title
				font-size 35px
				line-height 42px
				
			&__preview
				margin-top 15px
				


	.articles-cards__row
		.article-card__wrapper
			width 100%
			margin-bottom 30px
			&:nth-child(1),
			&:nth-child(2)
				width 100%
				.title
					font-size 30px
					line-height 40px
					
			&:nth-child(10n+3),
			&:nth-child(10n+4)
				margin 30px 0 70px
				
				.article-card
					flex-direction column
					
					&__thumbnail
						flex none
						width 100%
						margin-bottom 20px
						padding-top 70%
					&__content
						flex none
						width 100%
						padding-left 0
				
			&:nth-child(10n+3)
				margin-bottom 0
				
				
	.category-entering
		margin-bottom 40px
		.slider-navigation
			display none
		&__title
			flex none
			width 100%
			
		.title
			font-size 35px
			line-height 42px
		
	.category-articles
		> .title
			font-size 35px
			line-height 42px
			margin-bottom 30px
			
	.subcategories-slider
		margin-top 40px
		.swiper-slide
			width 235px
			padding-right 5px
			
	
	.btn-load-more
		height auto
		padding 0
		border none
		color $accent-color
		margin-top 30px
		&:hover
			background-color transparent
			color $accent-color
			svg
				fill $accent-color
		svg
			fill $accent-color
	
	.pagination
		width 100%
		&-wrapper
			margin-top 30px
			
		
	.pagination-list
		display flex
		flex-wrap nowrap
		&__item
			flex 1
		&__link
			width 100%
		&__link--arrow
			width 100%
			span
				display none
			svg
				margin 0
	

	.form-groups__row
		.form-group
			width 100%
			
	.default-input
		padding 15px
		
+max-screen(420px)
	.promo-block
		.title
			span
				text-align right	

+max-screen(374px)
	.promo-block .title
		white-space nowrap
	.articles-slider
		.swiper-slide
			width 300px
			
	.subscribe__form
		.form-group
			&:before
				transform none
				top 19px
			.btn
				position relative
				right auto
				transform none
				top auto
				width 100%
				margin-top 10px
				min-height 50px
				
	.form-input
		padding-right 20px